.markdown-body {
  overflow-x: auto;
}

.markdown-body *:first-child {
  margin-top: 0;
}

.markdown-body *:last-child {
  margin-bottom: 0;
}

.markdown-body p {
  white-space: break-spaces;
}

.markdown-body .link-tag{
  margin-bottom: 10px;
  display: block;
  word-wrap: break-word;
}

.markdown-body .link-iframe{
  height: 30rem;
  width: 99%;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 5px;
  overflow: hidden;
}

.markdown-body table {
  border-spacing: 0;
  border-collapse: collapse;
}

.markdown-body table th, .markdown-body table td {
  padding: 6px 13px;
}

.markdown-body table td {
  font-weight: 300;
}